<form class="location" action="/location" method="POST">
  <div class="login__field">
    <i class="login__icon fas fa-user"></i>
    <input type="text" class="login__input" placeholder="Titulo" name="title"  />
  </div>
  <div class="login__field">
    <i class="login__icon fas fa-book"></i>
    <input type="text" class="login__input" placeholder="Categoria" name="division"  />
  </div>
  <div class="login__field">
    <i class="login__icon fas fa-book"></i>
    <input type="text" class="login__input" placeholder="Descripcion" name="description"  />
  </div>
  <div class="login__field">
    <i class="login__icon fas fa-calendar"></i>
    <input type="text" class="login__input" placeholder="Horarios" name="schedule"  />
  </div>
  <div class="login__field">
    <i class="login__icon fas fa-phone"></i>
    <input type="text" class="login__input" placeholder="Numero de telefono" name="number"  />
  </div>
  <div class="login__field">
    <i class="login__icon fas fa-image"></i>
    <input type="text" class="login__input" placeholder="Url Image" name="urlImage"  />
  </div>
    <div class="login__field">
    <i class="login__icon fas fa-map-pin"></i>
    <input type="text" class="login__input" placeholder="Url Google Maps" name="urlLocation"  />
  </div>
  <button class="button login__submit">
    <span class="button__text">Anadir</span>
    <i class="button__icon fas fa-plus"></i>
  </button>
</form>