<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Muni</title>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
<link rel="stylesheet" href="assets/css/dashboard.css">

</head>
<body>
<!-- partial:index.partial.html -->

<div class="container">
  <div class="leftright">
	  <div class="screen">
		  <div class="screen__content">
            {{> input_location}}

		  </div>
    {{> background}}	
	  </div>
  </div>
</div>


<!-- partial -->




</body>
</html>
